.features {
    
    &__container {
        .conteiner;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
    }
}