.offers {
    margin-bottom: 100px;

    &__container {
        .conteiner;
    }

    &__title {
        margin-bottom: 45px;
        font-family: Lora;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 2%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 105px;
        flex-wrap: wrap;
    }

    &__button {
        width: 260px;
        height: 52px;
        gap: 10px;
        padding-top: 15px;
        padding-right: 40px;
        padding-bottom: 15px;
        padding-left: 40px;
        background-color: none;

        &--red {
            background-color: #BC3324;
            color: #FFFFFF;
            border: none;
        }
    }
}